@inject pdf_test.Services.IViewRenderService viewRenderService

@model pdf_test.Models.BatchPdfModel

@{
    ViewData["Title"] = "Home Page";

    var html = await viewRenderService.RenderToStringAsync("Home/Pdf", Model);
    var dHtml = System.Web.HttpUtility.HtmlDecode(html);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>@Html.ActionLink("View", "PdfView", "Home")</div>
    <div>@Html.ActionLink("IronPDF", "Pdf", "Home")</div>
    <div>@Html.ActionLink("DinkToPdf", "Pdf2", "Home")</div>
    <div>@Html.ActionLink("QuestPDF", "Pdf3", "Home")</div>
    <div><a href="#" onclick="usejsPDF()">jsPDF</a></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.6/purify.min.js" integrity="sha512-H+rglffZ6f5gF7UJgvH4Naa+fGCgjrHKMgoFOGmcPTRwR6oILo5R+gtzNrpDp7iMV3udbymBVjkeZGNz1Em4rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function usejsPDF() {
        var doc = new window.jspdf.jsPDF({
            orientation: 'p',
            format: 'a4',
            putOnlyUsedFonts: true
        });
        var a = htmlDecode("@dHtml");
        debugger;
        doc.html(a, {
            callback: function (doc) {
                doc.save("jsPDF.pdf");
            }
        });
    }

    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
</script>
